/* Utilisation font spéciale */
@font-face { 	font-family: "metal"; 	src: url('./fonts/metal.ttf'); }
@font-face { 	font-family: "metal2"; 	src: url('./fonts/metal2.ttf'); }
h1{
font-family: "metal2";

}
body{background:url("img/bg/madv.png") no-repeat center;}
.imgHero{
width:64px;

}

#divListAptitude{
width:100%;
}
.imgGauche{
float:left;

}
hr{
background-color: red; 
}
body{
font-family: "metal";
}

form
{
font-family: "metal";
}
.Iconique{
width:20px; 
float:right; 
}

#PNJBlocGauche{
float:left;
width:45%;
}
#PNJBlocDroite{
  float:right;
  width:50%;
  }
table
{
border:0;
}
#TDJetComptencePNJ
{
background:url('img/dice.png') no-repeat center;
width:20px;
}
#TRJetComptencePNJ
{
margin:2px;
}
#domaine
{
margin-left: 10px;
margin-bottom: 10px;
width:150px;
float:left;  
}

#domaine H1
{
color:indigo;
font-size:10px;
font-weight: bold;
}
.dice-formula{
visibility: hidden;
}


.formHero
{
width:490px;
}
.CompetenceMf
{
color:maroon;
}
#Tabcompetence
{
font-size:9px;  
}
#InputTotalComp{
  background-color:dimgray;
  color:white;
  text-align: center;
}

#InputCom{
  text-align:center;
  height: 12px;
}
#InputIntituleComp
{
  height: 12px;

}
#InputIntituleCompMf
{
  height: 12px;
  background-color:lightsalmon;
}
#InputAttribut
{
  height: 12px;

}
#Checkbox
{
  height: 16px;
  margin:0px;
  padding:0px;
}
#CheckboxMin
{
  height: 10px;
  margin:0px;
  padding:0px;
}
.TitreHero{
  width:350px;
  border-bottom:0px;
}
.ImageHero{
float:left;
}

#tdTotalComp{
  width:15px;
  text-align: center;
  margin:2px;
 background-image: url("./img/bulle_total_comp.png");
}
#BLOC1_1
{
width:120px;
font-size: 10px;
background-image: url('./img/attribut.png'); 
float:left;
}

#BLOC1_2
{
width:340px;
font-size: 10px;
float:left;
margin-left:20px;
}
#trComp{
  padding:2px;
  }
.trPetit{
  height:15px;
}
.ImgDice{
  float:left;
  width:5px;
}
.JetCompetence
{
 color:white; 
 
}
#attribut input
{
color:white;
}
.spacer{
 clear:both; 
}
.window-app {
  display: flex;
  background-color:darkslateblue;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: absolute;
  box-shadow: 0 0 20px #000;
  padding: 0;
  z-index: 100;
  /* Resizable movement handle */
}
.window-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color:dodgerblue;
  padding: 8px;
  color: #191813;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Div feuille MEtal Factor */
#metal{
width:200px;
}
#MfTitre{
width:100px;
float:left;
text-align: center;
}
#MfTitre{
  width:100px;
  float:left;
  text-align: center;
  }
#MfJoueur{
  width:100px;
  float:left; 
  text-align: center;
  font-size: x-large;
  color:green;
}
#MfMj{
  width:100px;
  float:left; 
  text-align: center;
  text-align: center;
  font-size: x-large;
  color:red;
}
.des{
font-size:10px;
}
.grandMF{
font-size:14px;
color:red;
margin:2px;
}
.Capital
{
color:green;
}
.CapitalMJ
{
color:red;
}
#sidebar{
background-image:url('img/sidebar.png');
padding-left: 10px;
}
#BLOC45{
  width:120px;
  margin-right:20px;
  float:left;
}
#BLOC145{
  width:320px;
  margin-right:20px;
  float:right;
  font-size: 10px;
  border-radius: 5px;
  border: 1px solid darkslategray;
  background-color:lightgray;
  margin-top: 5px;
  padding:2px;
}
#DivGaucheVaisseau{
  width:45%;
  margin-right:20px;
  float:left;
  font-size: 10px;
  border-radius: 5px;
  border: 1px solid darkslategray;
  background-color:lightgray;
  margin-top: 5px;
  padding:2px;
}
#DivDroiteVaisseau{
  width:45%;
  margin-right:20px;
  float:right;
  font-size: 10px;
  border-radius: 5px;
  border: 1px solid darkslategray;
  background-color:lightgray;
  margin-top: 5px;
  padding:2px;
}
#DivDommageVaisseau{
  width:96%;
  margin-right:20px;
  float:right;
  font-size: 10px;
  border-radius: 5px;
  border: 1px solid darkslategray;
  background-color:lightgray;
  margin-top: 5px;
  padding:2px;
}
#BLOC145B{
  width:320px;
  margin-right:20px;
  float:right;
}
#BLOC145 H4{
  font-size:14px;
}
#ContainerObjet{
width:495px;
float:left;
font-size: 10px;
border-radius: 5px;
border: 1px solid darkslategray;
background-color:lightgray;
margin-top: 5px;
padding:2px;
}
.thObj{
color:dodgerblue;
}
#divArme1Titre{
  float:left;
  width:250px;
  color:dodgerblue;
  }
.imgItemArmeListActor{
width:40px;

}
#divArme2Titre{
  float:left;
  width:60px;
  color:dodgerblue;
  }
#divArme3Titre{
  float:left;
  width:60px;
  color:dodgerblue;
  }
#divArme4Titre{
  float:left;
  width:60px;
  color:dodgerblue;
  }
#divArme5Titre{
    float:left;
    width:50px;
    color:dodgerblue;
    }
#divArme1{
width:250px;
float:left;
}
#divArme2{
width:60px;
float:left;
}
#divArme3{
width:60px;
float:left;
}
#divArme4{
width:60px;
float:left;
}
#divArme5{
  width:50px;
  float:left;
  }

#DivCache{
  margin-left:10px;
  border-left:solid 2px black;
  border-bottom:solid 2px black;
  width:500px;
  float:left;
  display:none;
  }
  .TrCache{
  display:none;
  }
.table01
{
font-size:10px;
padding:2px;
}
.imgItem{
width:18px;
}
.AlignCenter{
text-align: center;
}
H4 .dice-total{
background-color:red;
}
.dice-rolls{
  display:block;
  visibility:visible;

}
.DesBonus
{
color:green;
}
.DesMf
{
color:red;
}
.ImgVaisseau{
width:150px;

}

details {
  width: 620px;
}

details > summary {
  padding: 2px 6px;
  border: none;
  list-style: none;
  vertical-align: middle;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > p {
  padding: 2px 6px;
  margin-left: 10px;
  border:1px solid;
  font-size: smaller;
  background-color:#c9c7b8;
}
details > img {
  padding: 2px 6px;
  margin: 0;
  border:0px solid;
  font-size: smaller;
}