<div class="metalfactor">
  <div class="mfGauche">Joueurs</div><div class="mfpoints">{{metaljoueur}}</div>
  <div class="saut"></div>
  <div class="mfGauche">M.J.</div><div><span class="mfpointsmj">{{metalmj}}</span></div>
  <div class="saut"></div>
  <!-- {{#ManuelMf metaljoueur}}{{/ManuelMf}} -->

</div>